@model Func<dynamic, object>

<div class="dropleft-menu dropleft">
    <button class="btn btn-circle btn-light" data-toggle="dropdown"><i class="fas fa-ellipsis-v"></i></button>
    <div class="dropdown-menu">
        
        @Model(null)
        
    </div>
</div>