/* Bootstrap overrides */

:root {
    --orange: #fe6700;
    --primary: --orange !important;
    --dark: #212121;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--dark) !important;
    font-weight: bold !important;
}

p.lead {
    font-size: 1.4rem;
}

.btn, pre, .alert {
    border-radius: 0;
}

.alert-warning, .alert-light, .alert-info, .alert-secondary {
    color: var(--dark);
}

a, a:hover {
    color: var(--orange);
}

/* Custom styles */

.content-v-align-center {
    margin-top: auto;
    margin-bottom: auto;
}